@font-face {
    font-family: "OLivia";
    src: url(/backstage/Barbra-High.ttf);
}
@font-face {
    font-family: "OtraLetra";
    src: url(/backstage/DK\ Longreach.otf);
}
body{
    margin: 0%;
    background: url(backstage/Fondo2.png);
}
.barrita{
    display: flex;
    top: 0;
    font-family: "Olivia";
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.432);
    letter-spacing: 3px;
}
#link{
    text-decoration: none;
    color: #D1D1D1;
    animation: idk 0.4s 1;
}
#link:hover{
    color: #7e75bebe;
}
@keyframes idk {
    0% {
        transform: scale(1, 1);
    }
    30% {
        transform: scale(0.92, 0.95);
    }
    50%{
        transform: scale(1, 1);
    }
    80% {
        transform: scale(0.92, 0.95);;
    }
    100% {
        transform: scale(1, 1);
    }
}
.contenedoor{
    display: flex;
    color: white;
    justify-content: space-around;
    text-align: center;
    font-family: "OtraLetra";
    letter-spacing: 2px;
    font-size: 15px;
    margin-top: 75px;
}
.omaiga{
    margin-top: 50px;
    margin-bottom: 50px;
    height: auto;
}
.Video{
    margin-top: 50px;
    margin-bottom: 50px;
}
.blacki{
    color: black;
}
.info{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: 20px;
    height: auto;
    font-family: "OtraLetra";
    letter-spacing: 2px;
}
.color:hover{
    color: #7D75BE;
}
.botonsito{
    border-radius: 50px;
    font-family: "OtraLetra";
    letter-spacing: 2px;
    width: 10vw;
    height: 8vh;
    transition-property: height font-size;
    transition-duration: 0.50s;
    font-size: 20px;
    background-color: white ;
    border: 2px solid black;
    cursor: pointer;
}
.botonsito:hover{
    width: 13vw;
    font-size: 30px;
}
.collabs{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: url(/backstage/Fondo2.png);
}
.imagenes{
    display: flex;
    justify-content: space-around;
    width: auto;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.dosGrande{
    display: flex;
    justify-content: space-around;
    background-color: black;
    overflow: hidden;
}
.dosUno{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.dosMedio{
    display: flex;
    margin-top: 200px;
    margin-bottom: 300px;
    color: white;
    align-items: center;
    font-family: "OtraLetra";
    letter-spacing: 2px;
    font-size: 50px;
}
.dosMedio:hover{
    color: #7D75BE;
}
.dosDos{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.imgSour:hover{
    content: url(https://scontent.fbga1-3.fna.fbcdn.net/v/t39.30808-6/262800188_5305728192805628_4410775867166934676_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=833d8c&_nc_ohc=veR6TaSqcLAQ7kNvgGLIz9D&_nc_ht=scontent.fbga1-3.fna&oh=00_AYBLk3h58RfIonHwCwDTx_mRgI1C_9t4puC5brFPX5XVdw&oe=66D01084);
}
.imgGuts:hover{
    content: url(https://elgeneracionalpost.com/wp-content/uploads/2023/10/Cartel-Guts-World-Tour-Olivia-Rodrigo-1.jpg);
}
.finish{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.432);
    color: white;
    text-align: center;
    flex-wrap: wrap;
    font-family: "OtraLetra";
    letter-spacing: 2px;
}
.iconos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 30%;
    margin-right: 30%;
    flex-wrap: wrap;
}
#body2{
    background: 
    linear-gradient(
        rgba(39, 20, 61, 0.144), 
        rgba(39, 20, 61, 0.144)
        
    ), 
    url('https://static.vecteezy.com/system/resources/previews/001/405/942/large_2x/dark-purple-paper-background-free-photo.jpg') no-repeat center center fixed;
background-size: cover;
background-attachment: fixed;
font-family: "OtraLetra";
letter-spacing: 2px;
}
.Merch{
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.toito{
    display: grid;
    margin-top: 50px;
    margin-bottom: 50px;
    grid-template-rows: repeat(3, 550px);
    grid-template-columns: repeat(4, 350px);
    grid-gap: 25px;
    overflow: hidden;
    justify-content: center;
}
.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}
.botonet{
    border-radius: 50px;
    width: 7vw;
    height: 4vh;
    font-family: "OtraLetra";
    letter-spacing: 2px;
    transition-property: height font-size;
    transition-duration: 0.50s;
    font-size: 20px;
    background-color: white ;
    border: 2px solid white;
    cursor: pointer;
}
.botonet:hover{
    width: 9vw;
    font-size: 25px;
}
.filter{
    display: flex;
    margin-top: 95px;
    justify-content: space-around;
}
.medio{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.tododo-desactive{
    display: none;
}
.carrito-active{
    display: flex;
    flex-direction: column;
    font-family: "OtraLetra";
    color: white;
    letter-spacing: 2px;
    background-color: #7667ac;
    position: absolute;
    right: 0px;
    top: 75px;
    width: 26vw;
    z-index: 2;
    overflow: hidden;
}
.sombreado{
    display: flex;
    background-color: #0000004f;
    position: fixed;
    top: 76px;
    height: 100%;
    width: 100%;
}
.sinNada{
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    cursor: pointer;
}
#cuenta-carrito{
    font-family: "OtraLetra";
    color: white;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    top: 37px;
    right: 300px;
    width: 20px;
    text-align: center;
    display: none;
}
.pruebaaa{
    display: flex;
    padding: 20px;
    margin-left: 5px;
    text-align: center;
    align-items: center;
    overflow: hidden;
}
.Total{
    position: relative;
    width: 100%;
    height: 10vh;
    background-color: #37245b;
    display: flex;
    align-items: center;
    justify-content: center;
}
.compra{
    font-family: "OtraLetra";
    letter-spacing: 2px;
    color: white;
    background-color: black;
    border-color: #00000000;
    height: 5vh;
    cursor: pointer;
}
.delete{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
    color: #37245b;
    cursor: pointer;
}
.btnMas{
    border-radius: 50px;
    width: auto;
    color: white;
    background-color: #37245bb7 ;
    border: 2px solid #7667ac;
    cursor: pointer;
    margin-right: 5px;
}
.btnMenos{
    border-radius: 50px;
    width: auto;
    color: white;
    background-color: #37245bb7 ;
    border: 2px solid #7667ac;
    cursor: pointer;
    margin-left: 5px;
}
.categoryItem{
    border-radius: 50px;
    width: 9vw;
    height: 4vh;
    font-family: "OtraLetra";
    letter-spacing: 2px;
    transition-property: height font-size;
    transition-duration: 0.50s;
    font-size: 20px;
    background-color: white;
    border: 2px solid white ;
    cursor: pointer;
}
.categoryItem-active{
    border-radius: 50px;
    width: 9vw;
    height: 4vh;
    font-family: "OtraLetra";
    letter-spacing: 2px;
    transition-property: height font-size;
    transition-duration: 0.50s;
    font-size: 20px;
    background-color: #37245b;
    border: 2px solid #37245b ;
    color: white;
    cursor: pointer;
}
@media(max-width: 1600px){
    .toito{
        grid-template-columns: repeat(3, 350px);
    }
    .carrito-active{
        width: 35vw;
    }
    .sombreado{
        width: 65vw;
    }
    .categoryItem{
        width: 15vw;
    }
    .categoryItem-active{
        width: 15vw;
    }
    .botonet{
        width: 15vw;
    }
    .botonet:hover{   
        width: 15vw;
    }
}
@media(max-width: 1200px){
    .toito{
        grid-template-columns: repeat(2, 350px);
    }
    .carrito-active{
        width: 50vw;
    }
    .sombreado{
        width: 100%;
    }
    #cuenta-carrito{
        top: 37px;
        right: 140px;
    }
}
@media(max-width: 750px){
    .toito{
        grid-template-columns: repeat(1, 350px);
    }
    .carrito-active{
        width: 60vw;
    }
    .sombreado{
        width: 100%;
    }
    #cuenta-carrito{
        top: 37px;
        right: 140px;
    }
}
@media(max-width: 1000px){
    .barrita{
        width: 100%;
    }
    .info{
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .contenedoor{
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }
    .botonsito{
        width: 40vw;
    }
    .botonsito:hover{
        width: 40vw;
    }
    .botonet{
        width: 20vw;
    }
    .botonet:hover{
        width: 20vw;
    }
    .finish{
        width: 100%;
    }
    .imagenes{
        flex-wrap: wrap;
        gap: 0px;
    }
    .dosGrande{
        flex-wrap: wrap;
        text-align: center;
        width: 100%;
    }
    .categoryItem{
        width: 23vw;
    }
    .categoryItem-active{
        width: 23vw;
    }
}
@media(max-width: 600px){
    .barrita{
        width: 100%;
    }
    .info{
        font-size: 15px;
        width: 100%;
    }
    .contenedoor{
        font-size: 10px;
        width: 100%;
    }
    .botonsito{
        width: 40vw;
    }
    .botonsito:hover{
        width: 40vw;
    }
    .botonet{
        width: 40vw;
    }
    .botonet:hover{
        width: 40vw;
    }
    .finish{
        width: 100%;
    }
    .imagenes{
        flex-wrap: wrap;
        gap: 0px;
    }
    .carrito-active{
        margin-top: 70px;
        width: 100vw;
    }
    .sombreado{
        width: 100%;
    }
    #cuenta-carrito{
        top: 37px;
        right: 80px;
    }
    .categoryItem{
        width: 85vw;
    }
    .categoryItem-active{
        width: 85vw;
    }
    .filter{
        flex-wrap: wrap;
    }
}
@media (max-width: 500px) {
    .tittleResponsive{
        font-size: 20px;
    }
    .principalResponsive{
        height: 50px;
    }
    .imagenResponsive{
        height: 30px;
    }
    #cuenta-carrito{
        top: 37px;
        right: 50px;
    }
    .categoryItem{
        width: 45vw;
    }
    .categoryItem-active{
        width: 45vw;
    }
    .filter{
        flex-wrap: wrap;
        gap: 15px;
    }
}